body{

    margin: 0;
    padding: 0;
    height: 100vh;

}

#particles.js{

    height: 100%;
    background: #262626;
}

@media only screen and (max-width: 600px)

@media screen only screen and (max-width: 400px)


